//
//  Release-Config.xcconfig
//  SocietyFund
//
//  Created by sanish on 8/28/20.
//  Copyright © 2020 AahamSolutions. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

base_protocol = https
base_url = www.release.com

// App Setting
APP_IDENTIFIER = com.aaham.societyfund.release
APP_NAME = Prod-SocietyFund
APPICON = Prod-AppIcon
